body {
  background-color: rgb(130, 195, 252);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande";
  display: flex;
  flex-direction: row;
}

header {
  width: 300px;
  margin: 30px;
  display: flex;
  flex-direction: column;
}

#group-name-input,
#team-1-input,
#team-2-input,
#team-3-input,
#team-4-input {
  display: flex;
  flex-direction: column;
  margin: 5px auto;
  width: 200px;
  padding: 20px 5px;
}

#submit-btn {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande";
  font-size: 18px;
  padding: 10px;
  margin: auto;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;;
  background-color: rgb(255, 226, 109);
}

#rounds {
  height: 950px;
  display: flex;
  flex-direction: column;
  justify-content: center
}

#round-1,
#round-2,
#round-3 {
  margin: auto;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;
  height: 240px;
  border: 2px red solid;
  border-radius: 20px;
  background-color: rgb(254, 211, 158);
}

#round-1-div,
#round-2-div,
#round-3-div {
  display: flex;
  flex-direction: column;
}

div {
  padding-top: 5px;
  padding-bottom: 15px;
}

h1 {
  color: rgb(1, 1, 189);
  text-align: center;
  margin-top: 30px;
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 26px;
  text-decoration: underline;
  margin-top: 20px;
  align-self: center;
}

h4 {
  font-size: 14px;
  font-weight: normal;
  margin-top: 5px;
  margin-bottom: 0;
  align-self: center;
}

p {
  display: inline-block;
  padding: 0 15px;
  font-size: 20px;
  color: rgb(112, 0, 160);
  font-weight: bold;
  margin-bottom: 15px;
  width: 200px;
}

#teams-list {
  display: flex;
  flex-direction: column;
}

input {
  height: 30px;
  width: 100px;
  font-size: 20px;
  border-radius: 7px;
}

#scores-submit-btn {
  margin: 10px auto;
  display: flex;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande";
  font-size: 18px;
  padding: 10px;
  border-radius: 10px;;
  background-color: rgb(255, 226, 109);
}

#group-teams {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 240px;
  border: 2px red solid;
  border-radius: 20px;
  background-color: hsl(178, 100%, 93%);
}

#group-teams p {
  margin: 8px;
}

#score-table {
  margin: 10px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 535px;
  border: 2px red solid;
  border-radius: 20px;
  background-color: hsl(178, 100%, 93%);
}

#score-table h2 {
  margin-bottom: 5px;
}

table,
td {
    border: 1px solid #333;
    padding: 5px;
    width: 360px;
    height: 50px;
}

table {
  border-radius: 20px;
  padding: 10px;
}

#team-column {
  width: 50%;
}

#team-column,
#team-points-column,
#team-goals-scored-column,
#team-goals-lost-column {
  font-size: 20px;
  color: red;
  font-weight: bolder;
}

#first-team-name,
#second-team-name,
#third-team-name,
#fourth-team-name {
  color: blue;
  font-size: 18px;
  font-weight: bold;
}